{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Spacegame{% if view.window_title %} | {{ view.window_title | title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

    {% block webfonts %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    {% endblock webfonts %}

    {% block js %}
        <script src="{% static 'bower_components/d3/d3.min.js' %}"></script>
        <script src="{% static 'spacegame/js/base.js' %}"></script>
    {% endblock js %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'bower_components/normalize.css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/milligram/dist/milligram.min.css' %}">
        <link rel="stylesheet" href="{% static 'spacegame/css/base.css' %}" />
    {% endblock css %}
</head>
<body>
    <header>
    {% block header %}
        <h2 id="site_title"><a href="{% url 'home' %}">Spacegame</a></h2>
    {% endblock header %}
    </header>

    <main>
    {% block main %}
        <h1 id="page_title">{{ view.page_title }}</h1>

        <section id="content">
        {% block content %}
        {% endblock content %}
        </section>
    {% endblock main %}
    </main>
</body>
</html>